alembic==1.19.1
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
click==8.4.2
cloudpickle==3.1.2
fastapi==0.141.1
greenlet==3.5.5
h11==0.16.0
idna==3.19
joblib==1.5.3
llvmlite==0.45.1
Mako==1.4.1
MarkupSafe==3.0.3
narwhals==2.24.0
numba==0.62.1
numpy==2.3.5
packaging==26.3
pandas==3.0.5
psycopg==3.3.4
psycopg-binary==3.3.4
pydantic==2.13.4
pydantic_core==2.46.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
scikit-learn==1.9.0
scipy==1.18.0
shap==0.52.0
six==1.17.0
slicer==0.0.8
SQLAlchemy==2.0.52
starlette==1.6.0
threadpoolctl==3.6.0
tqdm==4.70.0
typing-inspection==0.4.4
typing_extensions==4.16.0
uvicorn==0.52.4
xgboost==3.4.1
